<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Portafolio.la</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, maximum-scale=1"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/estilos.css">
    </head>
    <body>
        <header id="yo" class="Header">
            <button id="showMenu" class="Header-button is-active icon-showMenu"></button>
            <button id="hideMenu" class="Header-button icon-hideMenu"></button>
            <nav id="menu" class="MainMenu">
                <ul class="MainMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#yo">Yo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#perfil">Perfil</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#trabajo">Trabajo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </nav>
            <figure class="Header-imageContainer">
                <img src="../static/images/avatar.jpg" alt="Imagen personal" class="Header-image"/>
                <figcaption class="Header-imageDescription">
                    <a class="Header-link" href="https://twitter.com/AlejoArceAlzate" target="_black">@AlejoArceAlzate</a>
                </figcaption>
            </figure>
            <p class="Header-name" >Alejandro Arce</p>
        </header>
        <section id="perfil" class="Profile">
            <div class="u-containerDefault">
                <h2 class="Profile-title u-title">Mi perfil</h2>
                <p class="Profile-description">
                    Administrador de sistemas informáticos, graduado de la Universidad Nacional de Colombia sede Manizales, Front-end y estratega digital(conocimientos en tecnologias como HTML5, CSS3, Javascript, Jquery, SEO, Inbound y Outbound marketing, etc). 
                </p>
                <p class="Profile-description">
                    En este portafolio, intento mostrar algunos de mis proyectos, espero que lo disfrutes y si tienes alguna duda o interes, me contactes
                </p>
                <a class="Profile-link twitter icon-twitter" href="https://twitter.com/AlejoArceAlzate" target="_blank">@AlejoArceAlzate</a>
                <a class="Profile-link facebook icon-facebook" href="https://www.facebook.com/alejandro.arcealzate" target="_blank">Alejandro Arce</a>
                <a class="Profile-link github icon-github" href="https://github.com/AlejandroArceAlzate" target="_blank">Alejandro Arce</a>
            </div>
        </section>
       <!-- <section class="Slider">
            <div class="Slider-container">
                <ul class="rslides">
                  <li>
                    <img src="../static/images/mexico.jpg" width="1024" height="400" alt="Conferencia de mexico" tittle="Conferencia en mexico df">
                  </li>
                  <li>
                    <img src="../static/images/colombia.jpg" width="1024" height="400" alt="conferencia de colombia" tittle="Conferencia en bogota">
                  </li>
                  <li>
                    <img src="../static/images/peru.jpg" width="1024" height="400" alt="conferencia en peru" tittle="Conferencia en lima">
                  </li>
                </ul>
            </div>
        </section> -->
        <section id="trabajo" class="Work">
            <div class="u-containerDefault">
                <h2 class="Work-title u-title">Mi trabajo</h2>
            </div>
            <div class="Work-container u-containerDefault">
                <article class="Work-item">
                    <a href="http://alejandroarcealzate.github.io/Buzz-Saw---Juego-hecho-en-unity/WebPlayer/">
                        <figure class="Work-imageContainer">
                            <img class="Work-image" src="../static/images/BuzzSaw.jpg" width="245" height="245" alt="BuzzSaw">
                            <figcaption class="Work-description">BuzzSaw (Juego 2d en unity)</figcaption>
                        </figure> 
                    </a>
                </article>
                <article class="Work-item">
                    <a href="http://alejandroarcealzate.github.io/ProyectoPokedex/public/#/">
                        <figure class="Work-imageContainer">
                            <img class="Work-image" src="../static/images/Pokedex.jpg" width="245" height="245" alt="Pokedex">
                            <figcaption class="Work-description">Pokedex creado con Angularjs</figcaption>
                        </figure>
                    </a>
                </article>
                <article class="Work-item">
                    <a href="http://alejandroarcealzate.github.io/MCHXVSNEW2/">
                        <figure class="Work-imageContainer">
                            <img class="Work-image" src="../static/images/ChvsMew2.jpg" width="245" height="245" alt=" Mega Charizard X">
                            <figcaption class="Work-description">Juego de batalla pokemon</figcaption>
                        </figure>
                    </a>
                </article>
                <article class="Work-item">
                    <a href="http://alejandroarcealzate.github.io/Buscador-de-artistas/">
                        <figure class="Work-imageContainer">
                            <img class="Work-image" src="../static/images/artistas.jpg" width="245" height="245" alt="buscador de artistas">
                            <figcaption class="Work-description">Buscador de artistas</figcaption>
                        </figure>
                    </a>
                </article>
                 <article class="Work-item">
                    <a href="http://alejandroarcealzate.github.io/segunda-version-pulse/">
                        <figure class="Work-imageContainer">
                            <img class="Work-image" src="../static/images/Puls3.jpg" width="245" height="245" alt="Puls3">
                            <figcaption class="Work-description">Puls3 (Jquery, CSS3 y Responsive)</figcaption>
                        </figure>
                    </a>
                </article>
                <article class="Work-item">
                    <a href="http://alejandroarcealzate.github.io/Sfotipy/">
                        <figure class="Work-imageContainer">
                            <img class="Work-image" src="../static/images/sfotipy.jpg" width="245" height="245" alt="Clon de Spotify">
                            <figcaption class="Work-description">Clon de Spotify</figcaption>
                        </figure>
                    </a>
                </article>
                <article class="Work-item">
                    <a href="http://alejandroarcealzate.github.io/culebrita/Culebrita.html">
                        <figure class="Work-imageContainer">
                            <img class="Work-image" src="../static/images/culebrita.jpg" width="245" height="245" alt="juego de snake con canvas">
                            <figcaption class="Work-description">Snake</figcaption>
                        </figure>
                    </a>
                </article>
                <article class="Work-item">
                    <a href="http://alejandroarcealzate.github.io/ahorcado/ahorcado.html">
                        <figure class="Work-imageContainer">
                            <img class="Work-image" src="../static/images/ahorcado.jpg" width="245" height="245" alt="juego de ahorcado con canvas">
                            <figcaption class="Work-description">Juego de ahorcado</figcaption>
                        </figure>
                    </a>
                </article>
                <article class="Work-item">
                    <a href="http://alejandroarcealzate.github.io/Piedra-Papel-Tijera-Lagarto-Spock/#">
                        <figure class="Work-imageContainer">
                            <img class="Work-image" src="../static/images/Spock.jpg" width="245" height="245" alt="Piedra, Papel, Tijeras, Lagarto, Spock">
                            <figcaption class="Work-description"> Rock, Paper, Scissors, Lizard, Spock</figcaption>
                        </figure>
                    </a>
                </article>
                
            </div>
        </section>
        <footer id="contacto" class="Footer">
            <div class="Footer-left">
                <h3 class="Footer-title">Contacto</h3>
                <p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
            </div>
            <form class="Footer-form">
                <input class="Footer-formInput"  type="text" placeholder="Nombre"/>
                <input class="Footer-formInput" type="email" placeholder="Email"/>
                <textarea class="Footer-textarea" placeholder="Motivo"></textarea>
                <button type="submit" class="Footer-button"> Contactarme </button>
            </form>
        </footer>
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../static/js/vendors/responsiveslides.min.js"></script>
        <script type="text/javascript" src="../static/js/vendors/hammer.min.js"></script>
        <script type="text/javascript" src="../static/js/vendors/retina.min.js"></script>
        <script>
          $(function() {
            $(".rslides").responsiveSlides();

            if(window.matchMedia("(max-width: 768px)").matches == true)
            {
                var $buttonShowMenu = document.getElementById("showMenu");
                var $buttonHideMenu = document.getElementById("hideMenu");
                var $menu = document.getElementById("menu");
                var $body = document.querySelector("body");

                var body = new Hammer($body);


                var showMenu = function()
                {
                    $buttonShowMenu.classList.remove("is-active");
                    $buttonHideMenu.classList.add("is-active");
                    $menu.classList.add("is-active");
                };

                var hideMenu = function()
                {
                    $buttonShowMenu.classList.add("is-active");
                    $buttonHideMenu.classList.remove("is-active");
                    $menu.classList.remove("is-active");
                };

                $buttonShowMenu.addEventListener("click", showMenu);

                $buttonHideMenu.addEventListener("click", hideMenu);

                body.on("panright", showMenu);
                body.on("panleft", hideMenu);
            }
          });
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-58168932-1', 'auto');
          ga('send', 'pageview');

          $('.Work-item').on('click', function() {
              ga('send', 'event', 'Consulta', 'Click', 'Proyecto');
            });

        </script>
    </body>
</html>
